#zero{
    height: 50px;
    width: auto;
    border-color :khaki;
    border-style :ridge;
    border-width: 5px;
    background-color:rgb(255, 248, 181);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 7px;
}
button{
    border-width: 10px;
    border-color: aquamarine;
    border-style :groove;
    background-color: rgb(183, 253, 230);
    color : #004d00;
    margin-bottom: 25px;
}
h1{
    border-width: 5px;
    border-color :hotpink;
    border-style :inset;
    background-color: rgb(255, 139, 197);
    text-align: center;
}
p{
    border-color: mediumpurple;
    border-style:groove;
    border-width: 5px;
    background-color: rgb(167, 133, 236);
    text-align: justify;
    height: 35px;
    color : lavenderblush;
}
#one{
    height: 50px;
    width: auto;
    background-color:rgb(255, 248, 181);
    text-align: center;
    border : 2px solid rgb(206, 191, 50);
    border-radius : 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin : 50px;
}
#two{
    height: 50px;
    width: auto;
    background-color:rgb(255, 248, 181);
    text-align: center;
    border : 2px solid rgb(206, 191, 50);
    border-radius : 25px;

}
#three{
    height: 50px;
    width: auto;
    background-color:rgb(255, 248, 181);
    text-align: center;
    border : 2px solid rgb(206, 191, 50);
    /* border-radius : 13.5px; */
    border-radius: 20%;
    /* border-radius border nu circular bnan li hunda */
}