div{
    height:100px;
    width:100px;
    background-color: lightblue;
    border:solid black;
    display: inline-block;
}
#box1{
    position: static;
}
#box2{
    position: relative;
    top : 10px;
    left : 10px;
    background-color: hotpink;
}
#box3{
    position: absolute;
    top : 200px;
    left: 20px;
    background-color: lightgreen;
}
#box4{
    background-color: lightsalmon;
     position: fixed;
    /* right : 10px;
    bottom : 50px; */
    top : 0px;
    background-image: url("Designer\ \(1\).png");
    background-size: cover;
}
#box5{
    position: sticky;
    top : 0px;
    background-image: url("Designer\ \(1\).png");
    background-size: contain;
    /* contain mtlb je puri ni aari taan repeat krdo */
}