*{    /* *{ universal selector */
    color : blueviolet;
}
h1{
    color : green;
}
p{
    color : red;
}
button{
    color: black;
    background-color :aquamarine;
}
body{
    background-color: black;
}
#headingone{
    color: greenyellow;
}
#headingtwo{
    color: rgb(204, 255, 137);
}
.sameColor{
    color : rgb(189, 24, 153)
}